.form_control {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
    input {
        font-size: 16px;
        padding: 13px 10px;
        color: rgb(82, 82, 82);
        border: 1px solid #ccc;
        border-radius: 4px;
        
    }
}
